body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.choice {
    height: 150px;
    width: auto;
    object-fit: contain;
}